*{
    font-family: 'Raleway', 'Roboto', sans-serif; 
}
.App {
    text-align: center;
    font-family: 'Raleway', 'Roboto', sans-serif !important;
    padding-bottom: 1em;
}
  
body{
    font-family: 'Raleway', 'Roboto', sans-serif !important;
}
a {
    color: black;
    font-family: 'Raleway', 'Roboto', sans-serif !important;
}
header {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 3em;
}
.ui.header, .ui.header.title{
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Raleway', 'Roboto', sans-serif !important;
}

.ui.header.subtitle{
    text-transform: capitalize;
    font-family: 'Raleway', 'Roboto', sans-serif !important;
}

section#single-article{
    height: 100vh;
}

//   NavBar
.ui.stackable.menu{
    margin-top: 0.5em;
    .ui.grid.tablet.mobile.only.container{
        .ui.secondary.stackable.menu{
            @media (min-width: 768px) and(max-width: 1024px){
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                width: 100%;
                .sidebar.icon{
                    font-size: 1.5rem;
                    position: absolute;
                    left: 0em;
                }
                div.item.logo{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .ui.icon.input{
                    display: flex;
                    justify-content: center;
                    // position: absolute;
                    // right: 0;
                    // bottom: 1em;
                    width: 90vw;
                }
            }
        }
        .ui.secondary.stackable.menu{
            position: relative;
            .ui.dropdown.hamburger{
                position: absolute;
                top: 1.5em;
                .sidebar.icon{
                    font-size: 1.5rem;
                }
                .menu .link.item a{
                    font-family: 'Raleway', 'Roboto', sans-serif !important;
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }
    }
    .ui.grid.computer.only{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
    .item{
        justify-content: center;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        a.brand{
            width: 10em;
            img.logo{
                width: 100%
            }
        }
    }
    .link.item{
        .ui.simple.dropdown{
            .menu .item a{
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
            }
        }
    }
}

// Home 
.home {
    font-family: 'Raleway', 'Roboto', sans-serif !important;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    text-shadow: 4px 4px 4px black;
    .article {
        .ui.header.article-title{
            font-weight: bold;
        }
        .ui.header.article-subtitle{
            font-weight: 300;
        }
    }
    @media (max-width: 767px) {
        .article {
            width: 90vw;
            height: 330px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.2);
            }
            .ui.header.article-title{
                position: absolute;
                bottom: 2em;
                left: 0.5em;
                font-size: 1.6rem;
                color: white;
                text-shadow: 4px 4px 4px black;
            }
            .ui.header.article-subtitle{
                position: absolute;
                bottom: 1em;
                left: 2em;
                letter-spacing: 2px;
                font-size: 0.7rem;
                color: white;
                text-align: left;
                text-shadow: 4px 4px 4px black;
                font-weight: bold;
            }
        }
        .article.imgHolder{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .featured-brand {
            width: 90vw;
            height: 330px;
            position: relative;
            margin-top: 1em;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.2);
            }
            .ui.header.brand-title{
                &:hover{
                   text-decoration: underline; 
                   color: white;
                }
                position: absolute;
                bottom: 1em;
                left: 1em;
                letter-spacing: 2px;
                font-size: 2rem;
                color: white;
            }
        }
        .featured-brand.imgHolder{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // position: absolute;
        }
    }

    @media (min-width: 768px) {
        .article {
            width: 50vw;
            height: 400px;
            position: relative;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.2);
            }
            .ui.header.article-title{
                &:hover{
                   text-decoration: underline; 
                   color: white;
                }
                position: absolute;
                bottom: 3em;
                left: 1em;
                letter-spacing: 2px;
                font-size: 2rem;
                color: white;
            }
            .ui.header.article-subtitle{
                position: absolute;
                bottom: 1em;
                left: 2em;
                letter-spacing: 2px;
                font-size: 1.2rem;
                color: white;
                text-align: left;
            }
        }
        .article.imgHolder{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .featured-brand {
            width: 35vw;
            height: 400px;
            position: relative;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.2);
            }
            .ui.header.brand-title{
                &:hover{
                   text-decoration: underline; 
                   color: white;
                }
                position: absolute;
                bottom: 1em;
                left: 1em;
                letter-spacing: 2px;
                font-size: 2rem;
                color: white;
            }
        }
        .featured-brand.imgHolder{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // position: absolute;
        }
    }

    @media (min-width: 1024px) {
        .article {
            width: 55vw;
            height: 450px;
            position: relative;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.2);
            }
            .ui.header.article-title{
                &:hover{
                   text-decoration: underline; 
                   color: white;
                }
                position: absolute;
                bottom: 3em;
                left: 1em;
                letter-spacing: 2px;
                font-size: 2rem;
                color: white;
            }
            .ui.header.article-subtitle{
                position: absolute;
                bottom: 2em;
                left: 2em;
                letter-spacing: 2px;
                font-size: 1.2rem;
                color: white;
                text-align: left;
            }
        }
        .article.imgHolder{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // position: absolute;
        }

        .featured-brand {
            width: 25vw;
            height: 450px;
            position: relative;
        }
    }

    @media (min-width: 1440px) {
        .article {
            width: 45vw;
            height: 550px;
            position: relative;
        }
        .featured-brand {
            width: 25vw;
            height: 550px;
            position: relative;
        }
    }

    .featured-brand {
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.2);
        }
        .ui.header.brand-title{
            &:hover{
               text-decoration: underline; 
               color: white;
            }
            position: absolute;
            left: 1em;
            letter-spacing: 2px;
            font-size: 2rem;
            color: white;
        }
    }
    .featured-brand.imgHolder{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // position: absolute;
    }
}

// About 
div.about-page {
    .page-container.ui.container {
        margin-bottom: 10em;
        .ui.divided.items.container {
            .paragraph {
                display: flex;
                justify-content: center;
                flex-flow: row nowrap;
                @media(max-width: 768px){
                    flex-flow: column wrap;
                    div.img{
                        width: 100%;
                        img{
                        width: 100%;
                        }
                    }
                    p.text{
                        width: 100% !important;
                    }
                }
                div{
                width: 40vw;
                    img{
                    width: 100%;
                    }
                }
                p.text{
                    margin-top: 1em;
                    span.bold{
                        font-weight: bold;
                        font-weight: 2rem;
                    }
                    font-weight: 300;
                    width: 30vw;
                    font-size: 1.3rem;
                    line-height: 170%;
                    text-align: justify;
                    text-indent: 1em;
                }
            }
            .paragraph.two{
                div{
                    width: 35vw;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                p.text{
                    padding: 1em;
                    @media (max-width: 768px) {
                        padding: 0em;
                    }
                }
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
}

// Contact
.contact{
    p.text{
        text-transform: initial;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
    }
}

//Login Page
section.login-page{
    .login-form{
        border-bottom: 1px solid #bbb;
        margin-bottom: 3em;
        padding-bottom: 3em;
    }
    .ui.header{
        font-weight: 300;
        letter-spacing: 1px;
    }
}

// Brand form
div#brand-error {
    width: 65vw;
    margin: 0 auto;
}

// Product Upload Section
form.ui.form {
    width: 65vw;
    margin: 0 auto;
}
div#pic-preview{
    margin-top: 1em;
    ul{
        list-style: none;
        background: #f3f3f3;
        height: 350px;
        overflow-y: scroll;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        margin: 0 auto;
        border: 1px solid #bbb;
        padding: 1em;
        li{
            width: 150px;
            height: 150px;
            margin-bottom: 1em;
            margin-right: 1em;
            img.temp-pic{
                width: 100%;
            }
        }
    }
}

// Standard Page Layout with cards or not
.page-container, .home{
    margin-top: 2em;
    .ui.link.cards{
        justify-content: center;
        .card{
            text-align: left;
        }
    }
}

// Designers Page
.card.brandCard{
    .header.title{
        text-transform: capitalize;
    }
    
    p.brandText{
        overflow: hidden;
        white-space: pre-line;
        height: 55px;
    }
}
.description.links, .meta.links {
    text-align: center;
}
.single-brand{
    div.image{
        overflow: hidden;
        max-height: 350px;
    }
}

// Article Feed
.page-container.article-list {
    margin-bottom: 10em;
    .ui.text.menu{
        display: flex;
        justify-content: center;
    }
    @media (max-width: 1024px){
        .featured-article{
            margin: 0 auto;
            border-bottom: 1px solid #bbb;
            padding-bottom: 1em;
            img{
                width: 100%;
            }
            .ui.header.article-title{
                font-size: 2.5rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .ui.header.article-subtitle {
                font-size: 1rem;
                margin-top: -1em;
                margin-bottom: 2em;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }
        
        .item.article{
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-flow: column;
            margin: 0 auto;
            justify-content: center;
            .image{
                width: 70vw;
                max-height: 450px;
                overflow: hidden;
                margin: 0 auto;
                @media(min-width:768px) and (max-width: 1024px){
                    margin-bottom: 1em;
                }
                padding-bottom: 1em;
                img{
                    width: 100%;
                }
            }
            .content{
                text-align: left;
                font-weight: 300;
                @media(min-width:768px) and (max-width: 1024px){
                    padding: 0em 3em;
                }
                .header{
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 0.02188rem;
                    line-height: 110%;
                }
                .meta, .extra{
                    font-weight: 400;
                    text-transform: capitalize;
                }
                .description{
                    p{
                        line-height: 170%;
                        text-indent: 1.75rem;
                    }
                }
            }
        }
    }
    @media (min-width: 1025px){
        .featured-article{
            width: 60vw;
            margin: 0 auto;
            border-bottom: 1px solid #bbb;
            padding-bottom: 1em;
            img{
                width: 100%;
            }
            .ui.header.article-title{
                font-size: 2.5rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .ui.header.article-subtitle {
                font-size: 1rem;
                margin-top: -1em;
                margin-bottom: 2em;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }
        
        .item.article{
            width: 60vw;
            margin: 0 auto;
            position: relative;
            .image{
                width: 400px;
                max-height: 450px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .content{
                text-align: left;
                font-weight: 300;
                .header{
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 0.02188rem;
                    line-height: 110%;
                }
                .meta, .extra{
                    font-weight: 400;
                    text-transform: capitalize;
                }
                .description{
                    p{
                        line-height: 170%;
                        text-indent: 1.75rem;
                    }
                }
            }
        }
    }
}

// Single Article
.page-container.single-article {
    margin-bottom: 10em;
    img.article-image {
        width: 100%;
    }
    h1.ui.header.title {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.02188rem;
        text-align: center;
    }
    h3.ui.header.title {
        font-weight: 400;
        letter-spacing: 0.0375rem;
        line-height: 170%;
        font-size: 1rem;
        margin-top: 0em;
        padding-bottom: 1em;
        border-bottom: 1px solid #bbb;
    }
    .article-info {
        font-size: 0.8rem;
        font-weight: bold;
        p {
            line-height: 40%;
            text-align: left;
            font-weight: 300;
            letter-spacing: 0.104rem;
        }
        div.share {
            display: flex;
            justify-content: flex-start;
            border: 1px solid;
            position: absolute;
            a {
                margin: 0 5px;
            }
        }
    }
    .article-text {
        margin-top: 3em;
        border-top: 1px solid #bbb;
        padding-top: 1em;
        p {
        line-height: 170%;
        font-weight: 300;
        text-indent: 1.75rem;
        text-align: justify;
        padding: 0em 1em;
        }
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
        h1.ui.header.title{
            font-size: 3rem;
        }
    }
}




footer {
    bottom: 0em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed
}