* {
  font-family: 'Raleway', 'Roboto', sans-serif; }

.App {
  text-align: center;
  font-family: 'Raleway', 'Roboto', sans-serif !important; }

body {
  font-family: 'Raleway', 'Roboto', sans-serif !important; }

a {
  color: black;
  font-family: 'Raleway', 'Roboto', sans-serif !important; }

header {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 3em; }

.ui.header, .ui.header.title {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Raleway', 'Roboto', sans-serif !important; }

.ui.header.subtitle {
  text-transform: capitalize;
  font-family: 'Raleway', 'Roboto', sans-serif !important; }

section#single-article {
  height: 100vh; }

.ui.stackable.menu .item {
  justify-content: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }
  .ui.stackable.menu .item a.brand {
    width: 10em; }
    .ui.stackable.menu .item a.brand img.logo {
      width: 100%; }
.ui.stackable.menu .link.item .ui.simple.dropdown .menu .item a {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }

.home {
  font-family: 'Raleway', 'Roboto', sans-serif !important;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  overflow: hidden;
  text-shadow: 4px 4px 4px black; }
  .home .article .ui.header.article-title {
    font-weight: bold; }
  .home .article .ui.header.article-subtitle {
    font-weight: 300; }
  @media (max-width: 767px) {
    .home .article {
      width: 90vw;
      height: 330px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      position: relative; }
      .home .article .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); }
      .home .article .ui.header.article-title {
        position: absolute;
        bottom: 2em;
        left: 0.5em;
        font-size: 1.6rem;
        color: white;
        text-shadow: 4px 4px 4px black; }
      .home .article .ui.header.article-subtitle {
        position: absolute;
        bottom: 1em;
        left: 2em;
        letter-spacing: 2px;
        font-size: 0.7rem;
        color: white;
        text-align: left;
        text-shadow: 4px 4px 4px black;
        font-weight: bold; }
    .home .article.imgHolder {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .home .featured-brand {
      width: 90vw;
      height: 330px;
      position: relative;
      margin-top: 1em; }
      .home .featured-brand .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); }
      .home .featured-brand .ui.header.brand-title {
        position: absolute;
        bottom: 1em;
        left: 1em;
        letter-spacing: 2px;
        font-size: 2rem;
        color: white; }
        .home .featured-brand .ui.header.brand-title:hover {
          text-decoration: underline;
          color: white; }
    .home .featured-brand.imgHolder {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; } }
  @media (min-width: 768px) {
    .home .article {
      width: 50vw;
      height: 400px;
      position: relative; }
      .home .article .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); }
      .home .article .ui.header.article-title {
        position: absolute;
        bottom: 3em;
        left: 1em;
        letter-spacing: 2px;
        font-size: 2rem;
        color: white; }
        .home .article .ui.header.article-title:hover {
          text-decoration: underline;
          color: white; }
      .home .article .ui.header.article-subtitle {
        position: absolute;
        bottom: 1em;
        left: 2em;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: white;
        text-align: left; }
    .home .article.imgHolder {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .home .featured-brand {
      width: 35vw;
      height: 400px;
      position: relative; }
      .home .featured-brand .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); }
      .home .featured-brand .ui.header.brand-title {
        position: absolute;
        bottom: 1em;
        left: 1em;
        letter-spacing: 2px;
        font-size: 2rem;
        color: white; }
        .home .featured-brand .ui.header.brand-title:hover {
          text-decoration: underline;
          color: white; }
    .home .featured-brand.imgHolder {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; } }
  @media (min-width: 1024px) {
    .home .article {
      width: 55vw;
      height: 450px;
      position: relative; }
      .home .article .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); }
      .home .article .ui.header.article-title {
        position: absolute;
        bottom: 3em;
        left: 1em;
        letter-spacing: 2px;
        font-size: 2rem;
        color: white; }
        .home .article .ui.header.article-title:hover {
          text-decoration: underline;
          color: white; }
      .home .article .ui.header.article-subtitle {
        position: absolute;
        bottom: 2em;
        left: 2em;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: white;
        text-align: left; }
    .home .article.imgHolder {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .home .featured-brand {
      width: 25vw;
      height: 450px;
      position: relative; } }
  @media (min-width: 1440px) {
    .home .article {
      width: 45vw;
      height: 550px;
      position: relative; }
    .home .featured-brand {
      width: 25vw;
      height: 550px;
      position: relative; } }
  .home .featured-brand .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); }
  .home .featured-brand .ui.header.brand-title {
    position: absolute;
    left: 1em;
    letter-spacing: 2px;
    font-size: 2rem;
    color: white; }
    .home .featured-brand .ui.header.brand-title:hover {
      text-decoration: underline;
      color: white; }
  .home .featured-brand.imgHolder {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

div.about-page .page-container.ui.container .ui.divided.items.container .paragraph {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap; }
  div.about-page .page-container.ui.container .ui.divided.items.container .paragraph div {
    width: 60vw; }
    div.about-page .page-container.ui.container .ui.divided.items.container .paragraph div img {
      width: 100%; }
  div.about-page .page-container.ui.container .ui.divided.items.container .paragraph p.text {
    width: 30vw;
    font-size: 1.3rem;
    line-height: 170%;
    text-align: justify;
    text-indent: 1em; }

.contact p.text {
  text-transform: initial;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300; }

section.login-page .login-form {
  border-bottom: 1px solid #bbb;
  margin-bottom: 3em;
  padding-bottom: 3em; }
section.login-page .ui.header {
  font-weight: 300;
  letter-spacing: 1px; }

div#brand-error {
  width: 65vw;
  margin: 0 auto; }

form.ui.form {
  width: 65vw;
  margin: 0 auto; }

div#pic-preview {
  margin-top: 1em; }
  div#pic-preview ul {
    list-style: none;
    background: #f3f3f3;
    height: 350px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 1em; }
    div#pic-preview ul li {
      width: 150px;
      height: 150px;
      margin-bottom: 1em;
      margin-right: 1em; }
      div#pic-preview ul li img.temp-pic {
        width: 100%; }

.page-container, .home {
  margin-top: 2em; }
  .page-container .ui.link.cards, .home .ui.link.cards {
    justify-content: center; }
    .page-container .ui.link.cards .card, .home .ui.link.cards .card {
      text-align: left; }

.card.brandCard .header.title {
  text-transform: capitalize; }
.card.brandCard p.brandText {
  overflow: hidden;
  white-space: pre-line;
  height: 55px; }

.description.links, .meta.links {
  text-align: center; }

.single-brand div.image {
  overflow: hidden;
  max-height: 350px; }

.page-container.article-list {
  margin-bottom: 10em; }
  .page-container.article-list .ui.text.menu {
    display: flex;
    justify-content: center; }
  @media (max-width: 1024px) {
    .page-container.article-list .featured-article {
      margin: 0 auto;
      border-bottom: 1px solid #bbb;
      padding-bottom: 1em; }
      .page-container.article-list .featured-article img {
        width: 100%; }
      .page-container.article-list .featured-article .ui.header.article-title {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px; }
      .page-container.article-list .featured-article .ui.header.article-subtitle {
        font-size: 1rem;
        margin-top: -1em;
        margin-bottom: 2em;
        letter-spacing: 1px;
        font-weight: 300; }
    .page-container.article-list .item.article {
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      justify-content: center; }
      .page-container.article-list .item.article .image {
        width: 70vw;
        max-height: 450px;
        overflow: hidden;
        margin: 0 auto;
        padding-bottom: 1em; } }
    @media (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
      .page-container.article-list .item.article .image {
        margin-bottom: 1em; } }
  @media (max-width: 1024px) {
        .page-container.article-list .item.article .image img {
          width: 100%; }
      .page-container.article-list .item.article .content {
        text-align: left;
        font-weight: 300; } }
    @media (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
      .page-container.article-list .item.article .content {
        padding: 0em 3em; } }
  @media (max-width: 1024px) {
        .page-container.article-list .item.article .content .header {
          font-size: 2rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.02188rem;
          line-height: 110%; }
        .page-container.article-list .item.article .content .meta, .page-container.article-list .item.article .content .extra {
          font-weight: 400;
          text-transform: capitalize; }
        .page-container.article-list .item.article .content .description p {
          line-height: 170%;
          text-indent: 1.75rem; } }
  @media (min-width: 1025px) {
    .page-container.article-list .featured-article {
      width: 60vw;
      margin: 0 auto;
      border-bottom: 1px solid #bbb;
      padding-bottom: 1em; }
      .page-container.article-list .featured-article img {
        width: 100%; }
      .page-container.article-list .featured-article .ui.header.article-title {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px; }
      .page-container.article-list .featured-article .ui.header.article-subtitle {
        font-size: 1rem;
        margin-top: -1em;
        margin-bottom: 2em;
        letter-spacing: 1px;
        font-weight: 300; }
    .page-container.article-list .item.article {
      width: 60vw;
      margin: 0 auto;
      position: relative; }
      .page-container.article-list .item.article .image {
        width: 400px;
        max-height: 450px;
        overflow: hidden; }
        .page-container.article-list .item.article .image img {
          width: 100%; }
      .page-container.article-list .item.article .content {
        text-align: left;
        font-weight: 300; }
        .page-container.article-list .item.article .content .header {
          font-size: 2rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.02188rem;
          line-height: 110%; }
        .page-container.article-list .item.article .content .meta, .page-container.article-list .item.article .content .extra {
          font-weight: 400;
          text-transform: capitalize; }
        .page-container.article-list .item.article .content .description p {
          line-height: 170%;
          text-indent: 1.75rem; } }

.page-container.single-article {
  margin-bottom: 10em; }
  .page-container.single-article img.article-image {
    width: 100%; }
  .page-container.single-article h1.ui.header.title {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.02188rem;
    text-align: center; }
  .page-container.single-article h3.ui.header.title {
    font-weight: 400;
    letter-spacing: 0.0375rem;
    line-height: 170%;
    font-size: 1rem;
    margin-top: 0em;
    padding-bottom: 1em;
    border-bottom: 1px solid #bbb; }
  .page-container.single-article .article-info {
    font-size: 0.8rem;
    font-weight: bold; }
    .page-container.single-article .article-info p {
      line-height: 40%;
      text-align: left;
      font-weight: 300;
      letter-spacing: 0.104rem; }
    .page-container.single-article .article-info div.share {
      display: flex;
      justify-content: flex-start;
      border: 1px solid;
      position: absolute; }
      .page-container.single-article .article-info div.share a {
        margin: 0 5px; }
  .page-container.single-article .article-text {
    margin-top: 3em;
    border-top: 1px solid #bbb;
    padding-top: 1em; }
    .page-container.single-article .article-text p {
      line-height: 170%;
      font-weight: 300;
      text-indent: 1.75rem;
      text-align: justify;
      padding: 0em 1em; }
  @media (min-width: 768px) {
    .page-container.single-article {
      font-size: 1.5rem; }
      .page-container.single-article h1.ui.header.title {
        font-size: 3rem; } }

footer {
  bottom: 0em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed; }

/*# sourceMappingURL=App.css.map */
